@charset "utf-8";
/* CSS Document */
/*White Menu*/

*{
	font-family: 'Open Sans', sans-serif;
	box-sizing:border-box;
	color:#565656;
	}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: white !important;
    background-image: url(../images/bg-repeat.jpg);
    background-repeat: repeat;
    text-decoration: none !important;
    width: 100% !important;
    overflow-x: hidden !important;
    margin: 0 auto !important;
    padding-bottom: 0 !important;
    min-height: auto !important
}
.float-right{
	float:right;}
a {
	text-decoration:none;}
.display-none{
	display:none;}
.clear{
	clear:both;}
.hover-a:hover{
	cursor:pointer;
	transition:.15s ease-in-out;
}
.hover1b{
	display:none !important;}
.hover1:hover .hover1a{
	display:none !important;
	transition:.15s ease-in-out;}
.hover1:hover .hover1b{
	display:inline-block !important;
	transition:.15s ease-in-out;}
.visible-img:hover{
	cursor:pointer;}
.white-text{
	color:white;}
.white-text:hover{
	color:white;}
.blue-text{
	color:#2b2b88;
		}
.blue-bg{
	background-color:#2b2b88;
}
.white-bg{
	background-color:white;}
.light-grey {
    color: #888888;}
.width100{
	width:100%;}
.overflow{
	overflow:hidden;}
.float-left{
	float:left;}
.float-right{
	float:right;}		
.text-center{
	text-align:center;}	
.div-center{
	margin-left:auto;
	margin-right:auto;}
.margin-auto{
	margin-left:auto;
	margin-right:auto;}
.clean:focus{	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:selected{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:active{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean::selection {	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean2{
	-webkit-box-shadow:none !important;
	box-shadow:none !important;		
}
.clean2:selected{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:focus{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:active{
	outline: none !important;
	outline-offset: 0  !important;	
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2::selection {	
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.hover-effect:hover{
	cursor:pointer;
	transition:.15s ease-in-out;}
.pointer:hover{
	cursor:pointer;}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #ffffff00 inset !important;
	font-size: 18px !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px  #ffffff00 inset !important;
  transition: background-color 5000s ease-in-out 0s;
  font-size: 18px !important;
}
.text-overflow{
    text-overflow: ellipsis;
    white-space: nowrap;
	overflow:hidden;
}
.opacity-hover:hover{
	transition:.15s ease-in-out;
	opacity:0.85;
	cursor:pointer;}
.same-padding{
	padding-left:7.5%;
	padding-right:7.5%;}

.whitemenu {
    background-color: white;
    width: 100%;
    min-height: 74px;
}
.right-menu-div {
    margin-top: 6px;
}
.header {
    padding-top: 5px;
    padding-bottom: 5px;
}
.sidenav {
    height: 100%;
    width: 0;

    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-right: 1px solid lightgrey;

}

.sidenav a {
    padding: 8px 8px 8px 22px;
    text-decoration: none;
    font-size: 18px;
    color: #bf1616;
    display: block;
    transition: 0.3s;
    font-weight: 700;
}

.sidenav a:hover, .offcanvas a:focus {
    color: white;
    background-color: #bf1616;
}

a.closebtn:hover {
    background-color: transparent !important;
    color: #bf1616 !important;
}

.sidenav .closebtn {
    position: absolute;
    top: 16px !important;
    right: 0 !Important;
    cursor: pointer;
    font-size: 36px;
    margin-left: 50px;
    padding-top: 0 !important;

}

.sidenav {
    height: 100vmax !important;
}

#main {
    transition: margin-left .5s;
    padding: 17px;
    margin-left: 18% !important;
    float: left;
    width: 22%;
    padding-bottom: 0;
}

.ham-span {
    color: #bf1616;
}

.sidenav::scrollbar {
    display: none !important;
}

.sidenav::-webkit-scrollbar {
    display: none !important;
}

.sidenav::-moz-scrollbar {
    display: none !important;
}

.logo-img {
    width: 100%;
    margin-top: 5px;
}

.logo-div {
    float: left;
    width: 10%;
}
.column-image-div:hover {
    opacity: 0.8;
}
.title-p-hover:hover{
	color:#bf1616;}
.img-box:hover{
	opacity:0.8;}
.article030c-pic{
	background-image:url(../images/030-c.jpg);
	
}
.article030-pic{
    background-image:url(../images/030-a.jpg);
}
.article031-pic{
    background-image:url(../images/031-0a.jpg);
}
.article032-pic{
    background-image:url(../images/032-0.jpg);
}
.article033-pic{
    background-image:url(../images/033-1.jpg);
}
.article034-pic{
    background-image:url(../images/034-1-800.jpg);
}
.article035-pic{
    background-image:url(../images/035-0a.jpg);
}
.article036-pic{
    background-image:url(../images/036-1.jpeg);
}
.article037-pic{
    background-image:url(../images/037-0.jpeg);
}
.article038-pic{
    background-image:url(../images/038-0.jpeg);
}
.article039-pic{
    background-image:url(../images/039-9.jpg);
}
.article040-pic{
    background-image:url(../images/040-0.jpg);
}
.article041-pic{
    background-image:url(../images/041-1.jpg);
}
.article042-pic{
    background-image:url(../images/042-0.jpg);
}
.article043-pic{
    background-image:url(../images/043-0.jpg);
}
.article044-pic{
    background-image:url(../images/44/16-king-of-glory-set-zone.jpg);
}
.article045-pic{
    background-image:url(../images/45/1-ming-shi-yin-guide.jpg);
}
.article046-pic{
    background-image:url(../images/46/58-tsuk-sleep.jpg);
}
.choco-img{
	padding-left:30%;
	padding-right:30%;
	
}
.wallpaper{
	width: 40%;
    margin-left: 35% !important;}
.left-0{
	margin-left:0 !important;
	clear:both;}

/*Menu*/
/*login*/

#lean_overlay {
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    display: none;
}

.popupContainer {
    position: absolute;
    width: 60%;
    height: auto;

    top: 80px;
    background: #FFF;
}

.btn {
    padding: 10px 20px;
    background: #F4F4F2;
}

.btn_red {
    background: #ED6347;
    color: #FFF;
}

.btn:hover {
    background: #E4E4E2;
}

.btn_red:hover {
    background: #C12B05;
}

a.btn {
    color: #666;
    text-align: center;
    text-decoration: none;
}

a.btn_red {
    color: #FFF;
}

.one_half {
    width: 50%;
    display: block;
    float: left;
}

.one_half.last {
    width: 45%;
    margin-left: 5%;
}

/* Popup Styles*/
.popupHeader {
    font-size: 16px;
    text-transform: uppercase;
}

.popupHeader {
    background: #F4F4F2;
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid #DDD;
    font-weight: bold;
}

.popupHeader .modal_close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 15px;
    background: #E4E4E2;
    cursor: pointer;
    color: #aaa;
    font-size: 16px;
}

.modal_close2 {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 15px;
    background: #E4E4E2;
    cursor: pointer;
    color: #aaa;
    font-size: 16px;
}

.popupBody {
    padding: 20px;
}

/* Social Login Form */
.social_login {
    width: 60%;
    margin: 0 auto;
}

.social_login .social_box {
    display: block;
    clear: both;
    padding: 10px;
    margin-bottom: 10px;
    background: #3b5998;
    border-radius: 25px;
    color: white;
    overflow: hidden;
}

.social_login .icon {
    display: block;
    width: 10px;
    padding: 5px 10px;
    margin-right: 10px;
    float: left;
    color: #FFF;
    font-size: 16px;
    text-align: center;
}

.social_login .fb .icon {
    background: #3B5998;
}

.social_login .google .icon {
    background: #DD4B39;
}

.social_login .icon_title {
    display: block;
    padding: 5px 0;
    float: left;
    font-weight: bold;
    font-size: 16px;
    color: white;
}

.social_login .social_box:hover {
    background: #E4E4E2;
}

.centeredText {
    text-align: center;
    margin: 20px 0;
    clear: both;
    overflow: hidden;
    text-transform: uppercase;
}

.action_btns {
    clear: both;
    overflow: hidden;
}

.action_btns a {
    display: block;
}

/* User Login Form */
.user_login {
    display: none;
}

.user_login label {
    display: block;
    margin-bottom: 5px;
}

.user_login input[type="text"], .user_login input[type="email"], .user_login input[type="password"] {
    display: block;
    width: 90%;
    padding: 10px;
    border: 1px solid #DDD;
    color: #666;
}

.user_login input[type="checkbox"] {
    float: left;
    margin-right: 5px;
}

.user_login input[type="checkbox"] + label {
    float: left;
}

.user_login .checkbox {
    margin-bottom: 10px;
    clear: both;
    overflow: hidden;
}

.forgot_password {
    display: block;
    margin: 20px 0 10px;
    clear: both;
    overflow: hidden;
    text-decoration: none;
    color: #ED6347;
}

/* User Register Form */
.user_register {
    display: none;
}

.user_register label {
    display: block;
    margin-bottom: 5px;
}

.user_register input[type="text"], .user_register input[type="email"], .user_register input[type="password"] {
    display: block;
    width: 90%;
    padding: 10px;
    border: 1px solid #DDD;
    color: #666;
}

.user_register input[type="checkbox"] {
    float: left;
    margin-right: 5px;
}

.user_register input[type="checkbox"] + label {
    float: left;
}

.user_register .checkbox {
    margin-bottom: 10px;
    clear: both;
    overflow: hidden;
}

.coconut-div {
    width: 100%;
    text-align: center;
    padding-top: 3%;
    margin-bottom: 20px;
}

.coconut-h1 {
    font-weight: 700;
    color: #ff3333;
    font-family: 'Josefin Slab', serif;
    font-size: 42px;
}

.cursor-hover:hover {
    cursor: pointer !important;
}

a.social_box.fb {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    background-color: #18439e;
}

a.social_box.fb:hover {
    background-color: #002167;

}

a.social_box.google {
    background-color: #d20000;
    text-decoration: none !important;
    font-weight: 700;
    font-size: 20px;
    text-align: center !important;
}

a.social_box.google:hover {
    background-color: #af0000;
}

.flaticon-social-media:before {
    color: #ff0e0e;
    padding-left: 4px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: white;
    border-radius: 2px;
    margin-left: -1px;
}

.or-h2 {
    font-weight: 700;
    font-size: 20px;
}

.or-h2 {
    width: 35%;
    text-align: center;
    border-bottom: 2px solid #afafaf;
    line-height: 0.1em;
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 40px;

}
.name-input{
    margin-bottom: 5px !important;
}
.password-input{
    margin-top: 5px !important;
}
.welcome-button{

    margin-top: 20px !important;
}
.or-span {
    background: #fff;
    padding: 0 10px;
}

.fillin-div {
    margin-top: 2% !important;
    padding-bottom: 4%;
}

.email-input {
    border-radius: 25px;
    height: 45px !important;
    margin: 0 auto;
    width: 60%;
    border: 1px solid #d0d0d0 !important;

}

.password-input {
    border-radius: 25px;
    height: 45px !important;
    text-align: left !important;
    margin: 0 auto;
    margin-top: 2%;
    width: 60%;
    border: 1px solid #d0d0d0 !important;
}

.popupContainer {
    top: 30px !important;
}

.welcome-button {
    color: white;
    border-radius: 25px;
    background-color: #17b11e;
    font-size: 18px;
    width: 60%;
    margin-left: 20%;
    z-index: 99999999;
    cursor: pointer !IMPORTANT;
}

input[type=password] {
    color: #d0d0d0 !important;
}

.welcome-button:hover {
    color: white !important;
    background-color: #bf1616 !important;
    cursor: pointer;

}

.forgot-a {
    color: red;
    font-size: 14px;

}

.forgot-a:hover {
    color: #bd0303;
}

.width100-div {
    width: 100%;
    text-align: center;
}

.register-div {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;

}

p.register-p {
    font-size: 15px;
    color: #353535;
}

.email-input:focus {
    border-color: #ff3333 !important;
}

.password-input:focus, .email-input:focus {
    border-color: #ff3333 !important;
}

a.register-a:hover {
    color: #bf1616;

}

a.login-a:hover {
    background-color: #ff3333;
}

.table1 {
    display: none;
    width: 100% !important;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
    border: 0px;

}

.table1-td {
    border: 0px;
    font-weight: 700;
    width: 10%;
}

.table1-div {
    width: 100%;
    text-align: center;
    margin-left: 16.5%;
    margin-right: 16.5%;

}

.table1-td:hover {
    background-color: #bf1616;

}

.orange-p:hover{
	color:#f11212;}

.v1920{
	display:block;}
.v1500{
	display:none;}
.v800{
	display:none;}
.v500{
	display:none;}	
	
.menu-margin-right {
    margin-right: 20px;
}
.menu-item {
    margin-top: 5px;
}	

span.ham-span:hover {
    cursor: pointer !important;
}

.margintop-addon {
    margin-top: 20px;
}

.special-a {
    background-color: transparent !important;
    top: inherit !important;
    right: inherit !important;
    margin-top: -12px !important;
    margin-left: -10px !important;

}

.cd-user-modal-container {
    background-image: url(../images/bg.jpg) !important;
    background-repeat: repeat !important;

}

.cd-user-modal.is-visible {

    background-repeat: repeat !important;
    z-index: 9999999999999;
    width: 100% !important;
}

.cd-user-modal-container {
    width: 70% !important;
    max-width: 70% !important;
}

a.register2 {
    background-color: transparent !important;
    padding: 0 !important;
    float: left !important;
}

.herenav {
    margin: 0 !important;
    height: auto !important;
    width: auto !important;
    float: left !important;

}

p.register-p {
    float: left;
}



.register2-a {
    color: red !important;
    float: left;
    margin-left: 0.5%;
}

.register2-a:hover {
    color: #bd0303 !important;
}

img.coconut-img {
    height: 82px;
}

.cursor-hover {
    color: #bf1616;
    text-decoration: none !important;
}

.cursor-hover:hover {
    color: #630000;
}

a.cd-close-form {
    margin-top: 2%;
    margin-right: 3%;
    text-decoration: none !important;
    background-image: url(../images/close-bg.png);
}

a.cd-close-form:hover {
    background-image: url(../images/close-bg2.png);
}

a:hover {
    transition-duration: 1s !Important;
}

a.register-a:hover {
    text-decoration: none !important;
}

a.register-a {
    text-decoration: none !important;
}

a.register-a:active {
    text-decoration: none !important;
}

a.login-a:hover {
    text-decoration: none !important;
}

a.login-a {
    text-decoration: none !important;
}

a.login-a:active {
    text-decoration: none !important;
}

.same-a-span {
    line-height: 3px;
}

/*User Menu Logged in */
.logged-in-div {
    width: 16%;
    font-weight: 700;
    margin-right: 20px;
    padding-left: 20px;
}

.profile-pic-div {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-top: 3px;
    padding-top: 0;
    overflow: hidden;
    float: right;
}

img.profile-pic-small {
    object-fit: cover;
    width: 30px;
}

.flaticon-sort-down:before {
    color: #404041;
    font-size: 14px !important;

    padding-top: 5px;
}

.user-name {
    color: #404041;
    font-size: 18px;
    float: left;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 10px;
}

#display_advance {
    display: none;
    position: absolute;
    z-index: 9999;
}

.user-name-div {
    float: right;
    margin-left: 5%;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul.user-dropdown-ul {
    position: absolute;
    list-style: none;
    background-color: #fffcd5;
    padding-left: 0;
    font-family: 'Josefin Slab', serif;

}

.user-a {
    color: #bf1616 !important;
    font-size: 18px;
    text-decoration: none !important;

}

.user-a:hover {
    color: white !important;
    font-size: 18px;
    text-decoration: none !important;
    background-color: #bf1616;
}

li.user-dropdown-li {
    background-color: white;
    min-width: 150px;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;

}

li.user-dropdown-li:hover {
    background-color: #bf1616;
    color: white;

}

.write-a {
    color: white !important;
    background-color: #4dba52;
    border-radius: 25px;
    text-align: center;
    padding-left: 5% !important;
    margin: 6%;
}

.write-a:hover {
    color: white !important;
    background-color: #bf1616;
}

.dropdown-user-div2 {
    right: 21%;
    box-shadow: 1px 1px 5px grey;

    width: 130px;
    background-color: white;
}

a.user-a {

    display: block;
    padding: 5%;
    padding-left: 20%;
}

a.user-a:hover {
    color: white !important;
    background-color: #bf1616;
}
.follow-button{
    padding: 0.5% 1% !important;
    cursor: pointer;
}
.follow-button:hover{
    cursor: pointer;


}
i.flaticon-sort-down {
    position: absolute;
    right: 21%;
    cursor: pointer;
}
.follow-p{
    margin: 0;
    color: white !Important;}
.valentine-img{
	padding-left:25%;
	padding-right:25%;
	
}


/*End of User Menu Logged in */
/*Terms and Condition */
.term-close {
    color: #bf1616 !important;
}

.term-close:hover {
    color: #980000 !important;
}

.term-h1 {

    color: #bf1616 !important;
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
}

p.term-p {

    font-size: 16px;
}

/*End of terms and Condition */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal3 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal4 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal5 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal6 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal7 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal8 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.modal2-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.modal3-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.modal4-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.modal5-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.modal6-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.modal7-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.modal8-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

/* The Close Button */
.close {

    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {

    text-decoration: none;
    cursor: pointer;
}

.close2 {
    opacity: 1 !important;
}

.nav-profile-pic-div {
    float: left;
    margin-left: 22px;
    margin-top: 10px;
}

.nav-username {
    margin-left: 10px;
    margin-top: 20px;
    font-weight: 700;

}

.dropdown-overwrite {
    float: right;

    margin-left: 5%;
    max-width: 80%;

    text-overflow: ellipsis;
    white-space: nowrap;
}

span.btn-overwrite {
    background: none !important;
    border: 0px !important;
    box-shadow: none !important;
    padding: 0 !important;
    width: 10px;
}

.menu-overwrite {
    right: -35px !important;
    left: inherit !important;

}

.flaticon-close:before {
    color: black;
}

.play-icon {
    display: none;
}
/*Start of article*/


.orange-p {
    font-weight: 700;
    color: #ff9c31;
    font-size: 20px;
}

.red-h1 {
    font-weight: 700;
    color: #bf1616;
    padding-left: 2%;
    font-size: 33px;
    padding-right: 2%;
}

.contributor-p {
    font-weight: 700;
    color: #808080;
    padding-left: 2%;
    font-size: 17px;
    margin-bottom: 0;
}

.blue-date {
    font-weight: 700;
    color: #0071bc;
    padding-left: 2%;
    font-size: 16px;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 30px;
}

.pink-span {
    color: #eb3f79;
}

.top-article-img {
    width: 100%;
    margin-bottom: 20px;

}

p.article-p {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 18px;
}

.content-article-img {
    width: 100%;
}

.ads2 {
    width: 100%;
    margin-bottom: 4% !important;
    margin-top: 4% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.content-a {
    color: #eb3f79;
    text-decoration: underline !important;
}

.left-top-article {
    width: 30%;
    margin-left: 2%;
    float: left;
}

.right-top-article {
    float: right;
    margin-right: 3%;
}

/*End of article*/
.content {
    width: 75%;
    background-color: white;
    margin: 0 auto;
    padding-top: 7%;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    padding-bottom: 50px;

}

.fb-share-button {
    float: left;
}

.fb-share-a {
    text-decoration: none !important;
}

.twitter-share-button {
    text-decoration: none !important;
    color: #64e7f9 !important;
    float: left;
}

.twitter-share-button:hover {
    text-decoration: none !important;
    color: #00aced !important;
}

a.bookmark-a {
    float: left;
    margin-top: -67%;
    margin-left: 23px;
}

.left-contributor-div {
    width: 50%;
    margin-left: 1%;
    float: left;
}

.bookmark-img {
    width: 28px;
}

.flaticon-facebook-letter-logo:before {
    font-size: 25px;
}

.flaticon-twitter-logo-silhouette:before {
    font-size: 25px;
}

.right-share-div {
    float: left;
    margin-right: 3%;
    width: 46%;
    text-align: right;
}

a.like-a {
    color: grey;
    font-size: 24px;
}

span.like-amount {
    font-size: 16px;
    margin-left: 5px;
}

a.comment-a {
    color: grey;
}

span.comment-amount {
    font-size: 16px;
    margin-left: 3%;
}

.share-a {
    color: grey !important;
    border: 0px !important;
    background-color: transparent !important;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0) !important;
    padding: 0 !important;
    margin: 0 !important;
}

a.like-a:hover {
    color: #ff3333;
}

a.comment-a:hover {
    color: #ff3333;
}

.share-a:hover {
    color: #ff3333;
}

a.like-a:active {
    color: #ff3333;
}

a.comment-a:active {
    color: #ff3333;
}

.share-a:active {
    color: #ff3333;
}

.dropdown.dropdown-share {
    width: auto;
    float: right;
    margin-top: 4px;
}

.dropdown-menu-share {
    right: 0 !important;
    left: inherit !important;
}

a.share-dropdown-a {
    width: 100%;
    clear: both;
    display: block;
}

.flaticon-printing-tool:before {

    color: white;
    background-color: grey;
    padding: 1px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 17px;
}

.flaticon-gmail-logo:before {

    color: #e67c73 !important;
    font-size: 20px !important;

}

.flaticon-pinterest:before {

    color: #cb2027 !important;
}

i.flaticon-printing-tool.print-icon:hover {

    background-color: #bf1616;
}

.flaticon-printing-tool:after {
    background-color: #bf1616;

}

a.share-dropdown-a {
    color: #3b5998 !important;
    font-weight: 700;
}

a.share-dropdown-a:hover {
    color: white !important;
    background-color: #bf1616 !important;
}

.fb2 {
    width: 100% !important;
}

.flaticon-twitter:before {

    font-size: 20px !important;
    color: #1da1f2;
}

.flaticon-google-plus-1:before {
    font-size: 20px !important;
}

.dropdown-menu-share a:hover i:before {
    text-decoration: none;
    color: white !important;
    background-color: transparent !important;
}

.dropdown-menu-share a:hover i.flaticon-printing-tool:before {
    text-decoration: none;
    color: #bf1616 !important;
    background-color: white !important;
}

.share-a:hover {
    color: #ff3333 !important;
}

.dropdown-share .print-a a:hover i.flaticon-share-1:before {
    text-decoration: none;
    color: #ff3333 !important;

}

.share-p {
    font-weight: 700;
    color: #bf1616;
    font-size: 28px;
}

.logged-home {
    margin-right: 18%;
    margin-top: 24px;
    margin-left: 25px;

}
.input-mode {
    margin-top: -63px;
    float: right;
    margin-right: -48%;
}
.toggle-on{
    margin-left: -5px;
    font-size: 18px;
    margin-top: -1px;
}
.toggle-off{

    font-size: 18px;
    margin-top: -2px;
}
.toggle-handle{
    display: none;
}
.toggle-on.btn{background-color: #4dba52;}
.m2a {
    margin-left: -2px;
}

.user-div {
    float: right;

    margin-top: 30px;
}

a.register-a {
    font-size: 18px;
    color: #4dba52;
    padding: 8px 15px;
    font-weight: 700;
}

a.login-a {
    font-size: 18px;
    color: white;
    background-color: #bf1616;
    border-radius: 30px;
    padding: 8px 15px;
    font-weight: 700;
}

a.closebtn {
    color: #bf1616;
}

.closebtn {
    font-size: 80px !important;
    margin-top: -15%;
}

a.sidebar-small-a {
    font-size: 14px !important;
    color: #ff9292 !important;
    float: left;
    display: inline-block;
    padding-left: 2px !important;
    padding-right: 2px !important;
}

a.sidebar-small-a:hover {
    font-size: 14px !important;
    background-color: transparent !important;
    color: #bf1616 !important;
}

.bullet-span {
    color: #ff9292;
    float: left;
    display: inline-block;
    font-size: 21px !important;
    padding-top: 9px;
}

.container-small-a-div {
    padding-left: 20px;
    padding-right: 34px;
    margin-top: 25px !important;
    padding-bottom: 40px;
}

div.popupContainer {
    background-image: url(../images/bg.jpg);
    background-repeat: repeat;
}

span.modal_close {
    color: #bf1616;
    font-size: 30px;
    float: right;
    margin-right: 5%;
}

span.modal_close2 {
    color: #bf1616;
    font-size: 30px;
    float: right;
    margin-right: 5%;
    background-color: transparent !important;
}

/*End of White Menu*/
/*Menu*/
.navbar-static-top {
    position: fixed;
}

.headroom--pinned {
    display: block;
}

.headroom--unpinned {
    display: none;
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}

.menudiv {
    width: 64%;
    margin: 0 auto;
}

ul.menuul {
    list-style: none;
    width: 100%;
    margin: 0 auto;
    height: auto;
}

a.menua {
    color: white;
    text-decoration: none;
    font-size: 20px;

    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}

li.menuli {
    display: inline-block;
    padding: 0.8%;
}

li.menuli:hover {
    background-color: #bf1616;
    text-decoration: none !important;
}

a {
    text-decoration: none;
    border-bottom: 0px !important;
}

a:hover {
    text-decoration: none !important;
}

li.more-a {
    display: none;
}

.clear {
    clear: both;
}

ul.menuul {
    width: 100% !important;
    padding-left: 0;
    text-align: center;
}

.dropdown-ul {
    text-align: center;
}
.bookcover{
	width: 30% !important;
    margin-left: 35%;
}

.fixed-white {
    width: 75%;
    background-color: white;
    height: 100vmax !important;
    position: fixed;
    margin: 0 auto;
    text-align: center;
    margin-left: 12.5%;
    z-index: -999999;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    padding-top: 4000px !important;
    margin-top: -200px;
}

.container-cover-img4 {
    background-image: url(../images/kohtao1.jpg);

}

.column-image-div {
    width: 100%;
    overflow: hidden;
    height: 250px;

    background-size: cover;
    background-position: center;
}

.article004-pic {
    background-image: url(../images/kohtao1.jpg);
}

.article002-pic {
    background-image: url(../images/who-are-us.jpg);
}

.article001-pic {
    background-image: url(../images/balik-kampung-1.jpg);
}

.article003-pic {
    background-image: url(../images/now-later-01.jpg);
}

.article003-pic2 {
    background-image: url(../images/now-later-01-landscape.jpg);
}

.article005-pic {
    background-image: url(../images/durian1.jpg);
}

.article006-pic {
    background-image: url(../images/healthy-lifestyle-1.jpg);
}

.article007-pic {
    background-image: url(../images/a4.jpg);
}
.article009-pic {
    background-image: url(../images/009-1-800.jpg);
}
.article010-pic {
    background-image: url(../images/010-800.jpg);
}
.article011-pic {
    background-image: url(../images/011-1-800.jpg);
}
.article012-pic {
    background-image: url(../images/012-0-800.jpg);
}
.article013-pic {
    background-image: url(../images/013-0-800.jpg);
}
.article014-pic {
    background-image: url(../images/014-0-800.jpg);
}
.article015-pic {
    background-image: url(../images/015-0-800.jpg);
}
.article016-pic {
    background-image: url(../images/016-0-800.jpg);
}
.article017-pic {
    background-image: url(../images/017-0-800.jpg);
}

.article018-pic {
    background-image: url(../images/018-0-800.jpg);
}

.article019-pic {
    background-image: url(../images/019-0-800.jpg);
}

.article020-pic {
    background-image: url(../images/020-0-800.jpg);
}

.article021-pic {
    background-image: url(../images/021-0-800.jpg);
}

.article020-pic {
    background-image: url(../images/020-0-800.jpg);
}
.article021-pic {
    background-image: url(../images/021-0-800.jpg);
}
.article022-pic {
    background-image: url(../images/022-0-800.jpg);
}
.article023-pic {
    background-image: url(../images/023-0-800.jpg);
}
.article024-pic {
    background-image: url(../images/024-0-800.jpg);
}
.article025-pic {
    background-image: url(../images/025-0-800.jpg);
}
.article026-pic {
    background-image: url(../images/026-0-800.jpg);
}
.article027-pic {
    background-image: url(../images/027-0-800.jpg);
}
.article028-pic {
    background-image: url(../images/028-0-800.jpg);
}
.article029-pic {
    background-image: url(../images/029-0-800.jpg);
}
.pic5 {
    background-image: url(../images/durian1.jpg);
}

.pic6 {
    background-image: url(../images/healthy-lifestyle-1.jpg);
}

.pic7 {
    background-image: url(../images/a4.jpg);
}

.comment-input {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.user-overwrite {
    margin-right: 18%;
}

.home-overwrite-live {
    margin-right: 18%;
}

.reply-a:hover {
    color: #ff3333 !important;
    cursor: pointer;
}

#toggle-p {
    display: none;
    color: #717171;
}

#toggle-p2 {
    display: none;
    color: #717171;
}

.cancel-middle {
    vertical-align: baseline !important;
}

.comment-pic-div {
    float: left;
    width: 45px;
    height: 45px;
    overflow: hidden;
    margin-top: 12px;
    margin-right: 10px;
}

img.comment-profile-pic {
    width: 100%;
    min-height: 30px;
}

.comment-input2 {
    width: 50%;
    float: left;
}

.other-reply {
    clear: both;
}

.user-name-comment {
    padding-top: 10px;

    font-size: 120%;
    margin-bottom: 0;
}

.other-reply-div {
    float: left;
    width: 50%;
}

.comment-input-overwrite {
    width: 55% !important;
}

a:hover {
    text-decoration: none !important;
}

.user-name-hover {
    color: #eb3f79 !important;
}

.user-name-hover:hover {
    color: #bf1616 !important;
}

#popUpDiv i.flaticon-close:before {
    font-size: 50px !important;
}

.insta-color-div:hover {
    background-color: rgb(150, 71, 189);
    color: white !important;
}

.fb-color-div:hover {
    background-color: #003563;

}

.fb-follow:hover {
    color: white;
}

.insta-follow:hover {
    color: white !important;
}

p.reply-p2 {
    font-size: 16px !important;
    color: #383838 !important;
}

.article-div {
    padding-top: 8%;
}
.pbottom {
    clear: both;
    margin-bottom: 35%;
}


img.bookmark-top {
    width: 50px;
    position: absolute;
    margin-left: 60%;
    margin-top: -20px;
}

.bk1 {
    margin-left: 85%;
    width: 60px;
}

.landscape-box {
    width: 97% !important;
}

.landscape-imgbox {
    height: 550px !important;
}

.box2-overwrite {
    padding: 1.5% !important;
}

.bk2 {
    margin-left: 92.5% !important;
}


.flaticon-blank-squared-bubble:before {

    color: #adadad !important;
    font-size: 19px !important;
}

#profile {
    font-family: 'Josefin Sans', sans-serif !Important;
}

.title-color {
    font-family: 'Josefin Sans', sans-serif !Important;
    margin-top: 30px;
}

.form-control-border {
    border: 1px solid #dfdfdf !important;
}

.save:hover {
    color: white !important;
    background-color: #650000 !important;

}

.draft {
    background: #ffffff !important;
    width: auto;
    border-radius: 10px;
    color: #bf1616 !important;
    border: 1px solid #bf1616;
}

.draft:hover {

    color: #650000 !important;
    border: 1px solid #650000 !important;
}

.savedraft:hover {
    color: #650000 !important;
}

.flaticon-edit-1:before {

    vertical-align: middle;
    margin-right: 10px;
}

.pencil-a {
    text-decoration: none !important;
}

.pencil-a:hover {
    text-decoration: none !important;
    color: #650000 !important;
}

.pull-right a:hover i:before {
    color: #650000 !important;
}

.family {
    font-family: 'Josefin Sans', sans-serif !Important;
}

.border-fix {
    border: 1px solid #ccc !important;
}

.border-fix:focus, .border-fix:focus {
    box-shadow: 0 0 5px #ff6161 !Important;
    padding: 3px 0px 3px 3px !Important;
    margin: 5px 1px 3px 0px !Important;
    border: 1px solid #ff6161 !Important;
}

.font-fix {
    font-size: 17px;
}

.image-margin {
    width: 150px !important;
    height: 150px !important;
    margin-bottom: 15px !important;
}

.input-group-addon:first-child {
    padding: 0 !important;
}

.user-fix {
    width: 30% !important;
    float: right !important;
}

.mobile {
    margin-bottom: 0 !important;
}

.mini-top {
    padding-top: 7%;
}

.tester {
    width: 60%;
}

.input-username {
    font-size: 18px !important;
}

.input-password {
    font-size: 18px !important;
}

.input-margin {
    margin-top: 30px !important;
}

.save {
    font-size: 18px !important;
}

.email-box {
    padding-bottom: 20px !important;
}

.profile-title {
    padding-top: 20px !important;
}
.here-nav{
    display: inline-block;
    vertical-align: bottom;
}

.coverphoto-container .actions .chooser .item:hover {
    background-color: rgba(66, 66, 66, 0.23) !important;
    border: 1px solid rgba(255, 255, 255, 0.31) !important;
    color: white !important;
    width: auto !important;
}

.coverphoto-container .actions .chooser .item {
    background-color: rgba(66, 66, 66, 0.23) !important;
    border: 0.5px solid rgba(255, 255, 255, 0.31) !important;
    color: white !important;
    width: auto !important;
}

.coverphoto-container .actions .chooser a {
    background-color: rgba(66, 66, 66, 0.23) !important;
    border: 0.5px solid rgba(255, 255, 255, 0.31) !important;
    color: white !important;
    width: auto !important;
}

.coverphoto-container .actions {
    width: auto !important;
    right: 60px !important;
}

.chooser {
    background-color: rgba(66, 66, 66, 0.23) !important;
    border: 1px solid rgba(255, 255, 255, 0.31) !important;
}

.item > a {
    width: 100% !important;
    text-align: center;
}

li.save.item {
    background-color: rgba(66, 66, 66, 0.63) !important;
}

li.save.item:hover {
    background-color: rgba(66, 66, 66, 0.83) !important;
}

.profile-pic2 {
    position: absolute !important;
    z-index: 999 !important;
    width: 150px;
    height: 150px;
    padding-top: 310px;
    padding-left: 35px;

}

.profile-image {
    border: 3px solid white;
    border-radius: 5px;
}

.profile-name {
    position: absolute;
    padding-top: 380px;
    z-index: 9;
    padding-left: 200px;
}

p.blogger-title {
    color: #fff7c0;
    font-size: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 650px;
    white-space: nowrap;
}

p.profile-user {
    color: white;
    font-size: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 650px;
    white-space: nowrap;
}

.grey-overlay {
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.86));
    background: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.86));
    background: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.86));
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.86));
    overflow: hidden;
    position: absolute;
    z-index: 8;
    height: 250px;
    width: 63.7%;
    margin-top: 250px;
}

.camera2 {
    color: white;
    position: absolute;
    background-color: rgba(134, 134, 134, 0.21);
    padding: 3px;
    border-radius: 5px;
    margin-top: 125px;
    margin-left: 120px;
    font-size: 20px;
    display: none;
}

.camera2:hover {
    opacity: 0.8;
    transition: 0.4s;
}

.profile-pic2:hover .camera2 {
    display: block;
}

.green-write {
    position: absolute;
    z-index: 10;
    margin-top: 410px;
    margin-left: 56%;
    background-color: #4dba52;
    padding: 0.2% 0.2% 0.2% 0.8%;
    border-radius: 35px;
}


a.write-p {
    color: white;
    font-size: 23px;
    text-decoration: none !important;

}

.pencil1:before {
    color: white !important;
    font-size: 20px !important;
    vertical-align: baseline;
    margin-left: 0 !important;
}

.green-write:hover{
    background-color: #bf1616;
}
.container-cover:hover .chooser{
    display: block !Important;
}
.grey-overlay:hover .chooser{
    display: block !Important;
}
.green-write:hover .chooser {
    display: block !Important;
}
.container-big:hover .chooser {
    display: block !Important;
}
.actions{
    z-index:999 !Important;
}
.bg-picture, .output{
    min-height: 500px !Important;
    margin-top: 0 !important;
}
#header{

    z-index: 9999;

}
.edit-pencil:before{
    color: #bf1616;
    cursor: pointer;
}
.edit-div a.edit-article-a:hover i.edit-pencil:before{
    color: #6d0909;
    cursor: pointer;

}
.edit-div{
    float: right;
    width: 10%;
}
.a-category:hover{
    color: #318e35 !Important;
}
.a-title:hover{
    color: #e00c0c !Important;
}
.wrap100{
    width:100% !Important;
}
.exceed{
    width:100.12% !Important;

}
.header-png{
    width:35% !Important;
    margin-right: 10px;
}
.actions{
    top:35px !Important;
}
.pencil-write:before{
    color: #bf1616;  
}

.name-p {

    display: none !important;
}

.bigdiv {
    display: none !important;
}












@media all and (max-width: 1684px) {
    .cover-gap {
        padding-top: 5.7% !important;
    }

}

@media all and (max-width: 1568px) {
    .logo-div {
        width: 155px;
    }

}

@media all and (max-width: 1500px) {
.v1920{
	display:none;}
.v1500{
	display:block;}

}

@media all and (max-width: 1370px) {
    .whitemenu {
        min-height: 64px;
    }
}

@media all and (max-width: 1279px) {
    a.menua {
        font-size: 12px !important;
    }

}

@media all and (max-width: 1252px) {
    a.menua {
        font-size: 16px !important;
    }

    .dropdown-a {
        font-size: 17px;
        font-weight: 700;
    }

    .menu8 {
        display: none !important;
    }

    .menu9 {
        display: none !important;
    }

    .menu10 {
        display: none !important;
    }

    li.more-a {
        display: inline-block;
        padding: 1.5%;
    }

    ul.menuul {
        height: auto;
    }

    li.menuli {
        padding: 1.5% !important;
    }

    .dropdown-menu8 {
        display: inline-block !important;
    }

    .dropdown-menu9 {
        display: inline-block !important;
    }

    .dropdown-menu10 {
        display: inline-block !important;
    }

    li.dropdown-li:hover {
        background-color: #bf1616 !important;
        text-decoration: none !important;
        width: 100% !important;
    }

    li.dropdown-li:active {
        background-color: #f95353 !important;
        text-decoration: none !important;
    }

    a.dropdown-a:hover {
        background-color: #bf1616 !important;
        text-decoration: none !important;
        background-image: none !important;
    }

    a.dropdown-a:active {
        background-color: #bf1616 !important;
        text-decoration: none !important;
    }

    .dropdown-menu::after {
        display: none !important;
        border-bottom: hidden !important;
    }

    .dropdown-menu::before {
        display: none !important;
        border-bottom: hidden !important;
    }

    a.dropdown-a {
        text-align: left !important;
        font-weight: 700;
    }

    .dropdown-ul {
        text-align: left !important;
        font-weight: 700;
    }
}

@media all and (max-width: 1249px) {
    a.menua {
        font-size: 18px;
    }

}
@media all and (max-width: 1200px) {
.bookcover {
    width: 50% !important;
    margin-left: 25%;
}	
}
@media all and (max-width: 1188px) {
    a.menua {
        font-size: 17px;
    }

    ul.menuul {

        width: 100% !important;
    }
}

@media all and (max-width: 1200px) {
    .sidenav .closebtn {

        right: 20px !Important;
    }
}

@media all and (max-width: 1145px) {
    a.menua {
        font-size: 15px !important;
    }
}

@media all and (max-width: 1119px) {
    .menu8 {
        display: none !important;
    }

    .dropdown-menu8 {
        display: inline-block !important;
    }

    a.menua {
        font-size: 19px;
    }

    ul.menuul {
        height: auto;
        width: 70.5%;
    }
}

@media all and (max-width: 1076px) {
    .sidenav .closebtn {

        right: 35px !Important;
    }

    .dropdown-menu7 {
        display: inline-block !important;
    }

    .menu7 {
        display: none !important;
    }
}

@media all and (max-width: 1070px) {
    a.menua {
        font-size: 18px;
    }

    ul.menuul {
        height: auto;
    }
}
@media all and (max-width: 1018px) {
    a.menua {
        font-size: 17px;
    }

    ul.menuul {
        height: auto;
    }

}

@media all and (max-width: 956px) {
    .sidenav .closebtn {

        right: 48px !Important;
    }
}

@media all and (max-width: 952px) {
    .menu7 {
        display: none !important;
    }

    .dropdown-menu7 {
        display: inline-block !important;
    }

}
@media all and (max-width: 886px) {
    .menu6 {
        display: none !important;
    }

    .dropdown-menu6 {
        display: inline-block !important;
    }

    li.menuli {
        padding-left: 3.3% !important;
        padding-right: 3.3% !important;
    }

    ul.menuul {
        height: auto;
    }
}
@media all and (max-width: 884px) {
    .sidenav .closebtn {

        right: 25% !Important;
    }
}
@media all and (max-width: 797px) {
    li.menuli {
        padding-left: 3% !important;
        padding-right: 3% !important;
    }

}
@media all and (max-width: 768px) {
    ul.menuul {
        height: auto;
    }
}

@media all and (max-width: 754px) {
    .div-overwrite {

        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
@media all and (max-width: 696px) {
    .div-overwrite {

        margin-left: 15px !important;
        margin-right: 15px !important;
    }
}

@media all and (max-width: 644px) {
    .div-overwrite {

        margin-left: 10px !important;
        margin-right: 10px !important;
    }
}

@media all and (max-width: 586px) {
    .div-overwrite {

        margin-left: 5px !important;
        margin-right: 5px !important;
    }
}
@media all and (max-width: 570px) {
    .user-div {
        display: none;
    }

    .logo-div {
        width: 21%;
        float: left;
    }

    #main {
        width: auto;
    }
}
@media all and (max-width: 549px) {
    .div-overwrite {
        font-size: 12px !important;
    }

}
@media all and (max-width: 526px) {
    .div-overwrite {
        margin-left: 4px !important;
        margin-right: 4px !important;
    }

}
@media all and (max-width: 500px) {
.choco-img{
	padding-left:10%;
	padding-right:10%;	
}

.wallpaper {
    width: 100% !important;
    margin-left: 0% !important;
}
}
@media all and (max-width: 490px) {
    .div-overwrite {
        font-size: 11px !important;
    }

}

@media all and (max-width: 450px) {
.bookcover {
    width: 50% !important;
    margin-left: 25%;
}	

    .div-overwrite {
        font-size: 10px !important;
    }

    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media all and (max-width: 424px) {
    .div-overwrite {
        font-size: 9px !important;
    }

}


@media all and (max-width: 390px) {
    .div-overwrite {
        font-size: 8px !important;
    }

}

@media all and (max-width: 349px) {
    .div-overwrite {
        font-size: 7px !important;
    }

}





















@media all and (max-width: 946px) {
    a.register-a {
        font-size: 14px !important;
    }

    a.login-a {
        font-size: 14px !important;
        padding: 5px 10px;
    }

    .reg-nav {
        margin-top: 10px;
    }
}

@media all and (max-width: 800px) {
.v1500{
	display:none;}
.v800{
	display:block;}

}
@media all and (max-width: 783px) {
    .table1 {
        display: block;
    }

    td.table1-td {
        padding: 1.2% !important;
    }

    .menudiv {
        display: none;
    }

    .table1-td {
        width: auto !important;
    }

    a.menua {
        width: 10%;
        padding: 1.2%;
    }

    #main {
        margin-left: 0 !important;
        width: 40%;
    }

    .user-div {
        margin-right: 5%;
    }

    .sidenav .closebtn {
        position: relative;
        top: 0;
        left: 0;
        margin-top: -20%;
        margin-left: -20px;
    }

    .sidenav {
        height: 100% !important;
        padding-bottom: 25px !important;
    }

    .sidenav {
        border-bottom: 1px solid lightgrey;
        padding-top: 0 !important;
    }

    .table1-div {
        margin: 0 auto !important;
        width: 100% !important;

    }

    i.flaticon-sort-down {
        position: absolute;
        right: 3% !Important;
    }

    .user-name-div {
        margin-right: 20%;
    }
}

@media all and (max-width: 736px) {
    .ham-span {
        font-size: 20px !important;
    }

    .user-div {
        margin-top: 1.5%;
    }

    #main {
        padding-top: 1.2%;
    }
}

@media all and (max-width: 570px) {
    a.reg3-a {
        display: block !important;
    }

    .reg3-hr {
        display: block;
    }

    #main {
        width: auto !important;
    }

}
@media all and (max-width: 550px) {
    a.menua {
        font-size: 15px;
    }

}

@media all and (max-width: 500px) {

.v800{
	display:none;}
.v500{
	display:block;}	
	
}
@media all and (max-width: 400px) {
    a.menua {
        font-size: 14px;
    }

}


@media all and (max-width: 1264px) {
    .whitemenu {
        min-height: 67px;
    }

}

@media all and (max-width: 1124px) {
    .whitemenu {
        min-height: 61px;
    }

}

@media all and (max-width: 1056px) {
    #main {
        padding-top: 16px;
    }

    .profile-pic-div {
        height: 25px !important;
        width: 25px !important;
        margin-top: -4px !important;
    }

    img.profile-pic-small {
        width: 25px !important;
    }

    .user-name {
        font-size: 14px !important;
    }

    .flaticon-sort-down:before {
        font-size: 12px !important;
    }

    .user-name-div {
        margin-top: 4px !important;
    }
}

@media all and (max-width: 964px) {
    .logo-div {
        width: 150px;
    }

}

@media all and (max-width: 868px) {
    .logo-div {
        width: 128px;
    }

    .user-div {
        margin-top: 10px;
    }
}


@media all and (max-width: 804px) {
    .coconut-h1 {
        font-size: 35px;
    }


}


@media all and (max-width: 667px) {
    .width100-div {
        padding-left: 10%;
        padding-right: 10%;
    }

}

@media all and (max-width: 654px) {
    .coconut-h1 {
        font-size: 28px;
    }



}



@media all and (max-width: 607px) {


    .coconut-h1 {
        font-size: 27px !important;
    }

    a.social_box.fb {
        font-size: 15px !important;
    }

    .flaticon-facebook-logo:before {
        font-size: 15px !important;
    }

    .flaticon-social-media:before {
        font-size: 15px !important;
    }

    a.social_box.google {
        font-size: 15px !important;
    }

    .or-h2 {
        font-size: 15px !important;
    }
}



@media all and (max-width: 570px) {
    .write-a {
        width: 35%;
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 1% !important;
        padding-bottom: 1% !important;
    }

    .name-p {
        width: 90px;
        float: left;
        display: block !important;
        margin-top: -15px !important;
    }

    .nav-profile-pic-div {
        margin-top: 0 !important;
    }

    .bigdiv {
        display: block !important;
        margin-top: 30%;
    }

    .sidenav .closebtn {
        top: 65px !important;
    }

    .sidenav a {
        padding: 4px 4px 4px 18px;
    }

    .bullet-span {

        padding-top: 4px;
    }
}

@media all and (max-width: 483px) {
    .coconut-h1 {
        font-size: 28px !important;
    }

    a.social_box.fb {
        font-size: 12px !important;
    }

    .flaticon-facebook-logo:before {
        font-size: 12px !important;
    }

    .flaticon-social-media:before {
        font-size: 10px !important;
        padding-left: 2px !important;
        padding-right: 1px !important;
        margin-left: 2px;
    }

    .width100-div {
        padding-left: 10%;
        padding-right: 10%;
    }

    a.social_box.google {
        font-size: 12px !important;
    }

    .or-h2 {
        font-size: 12px !important;
    }


    .welcome-button {
        font-size: 14px;
    }

    .email-input {
        height: 35px !important;
    }

    .password-input {
        height: 35px !important;
    }

    .register-div {
        padding-bottom: 20px !important;


    }

    .width100-div {
        font-size: 12px;
    }

    .forgot-a {
        font-size: 12px;
    }

    p.register-p {
        font-size: 12px;
    }

    .coconut-h1 {
        font-size: 22px !important;
    }
}

@media all and (max-width: 392px) {
    img.coconut-img {
        height: 60px;
    }

    a.social_box.fb {
        font-size: 10px !important;

    }

    .flaticon-facebook-logo:before {
        margin-left: 0 !important;
    }

    a.social_box.google {
        font-size: 10px !important;
    }
}

@media all and (max-width: 368px) {
    .welcome-button {
        font-size: 11px;
    }
}
.wrapm{
    margin-bottom: 15px;
}

@media all and (max-width: 300px) {
    a.social_box.fb {
        font-size: 9px !important;
    }
}

@media all and (max-width: 747px) {

    .table1 {
        width: 92% !important;
        margin: 0 auto;
    }

}

.table1 {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.table1::-webkit-scrollbar {
    display: none;
}

.play-icon {
    float: left;
    color: white;
    margin-top: 11px;
    display: block;
}

.flaticon-media-play-symbol:before {
    font-size: 15px;
}

.dropdown-overwrite {

    margin-top: 2px;
}

}
@media all and (max-width: 736px) {
    .play-icon {

        margin-top: 9px;
    }

}

@media all and (max-width: 437px) {
    .table1 {
        width: 90% !important;

    }

}

@media all and (max-width: 400px) {
    .flaticon-media-play-symbol:before {
        font-size: 12px;
    }

    .play-icon {
        margin-top: 7px;
    }
}

@media all and (max-width: 319px) {
    .table1 {
        width: 88% !important;

    }

}

/*End of login*/



@media all and (max-width: 880px) {
    .red-h1 {
        font-size: 28px !important;
    }

    .content {
        padding-top: 12%;
    }

    .orange-p {
        font-size: 18px;
    }

    .contributor-p {
        font-size: 15px;
    }

    .blue-date {
        font-size: 14px;
    }

    p.article-p {
        font-size: 17px;
    }
}

@media all and (max-width: 783px) {
    .content {
        padding-top: 4%;
    }

}

@media (max-width: 783px) {
    .content {

        width: 100%;
    }

    .orange-p {
        font-size: 15px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .red-h1 {
        font-size: 24px !important;
        padding-left: 3.5%;
        padding-right: 5%;
    }

    .contributor-p {
        font-size: 14px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .blue-date {
        font-size: 13px;
        padding-left: 5%;
        padding-right: 5%;
    }

    p.article-p {
        font-size: 16px;
    }

    .test {
        width: 94%;

    }
}

@media (max-width: 661px) {
    a.bookmark-a {
        margin-top: -78%;
    }

    .flaticon-facebook-letter-logo:before {
        font-size: 20px;
    }

    .flaticon-twitter-logo-silhouette:before {
        font-size: 20px;
    }

    .flaticon-like:before {
        font-size: 18px;
    }

    span.like-amount {
        font-size: 14px;
        margin-left: 2%;
    }

    .flaticon-blank-squared-bubble:before {
        font-size: 16px;
    }

    span.comment-amount {
        font-size: 14px;
        margin-left: 2%;
    }

    .flaticon-share-1:before {
        font-size: 15px;
    }
}

@media all and (max-width: 500px) {
    .content {
        padding-top: 9%;
    }

}

@media all and (max-width: 428px) {
    .orange-p {
        font-size: 13px;
    }

    .red-h1 {
        font-size: 22px !important;
    }

    .contributor-p {
        font-size: 12px;
    }

    .blue-date {
        font-size: 12px;
    }

    p.article-p {
        font-size: 15px;
    }
}

.test {
    width: 85%;

    background-color: white;
    margin: 0 auto;
}

.content-a:hover {
    color: #bf1616 !important;
    text-decoration: underline !important;
}

.article-recommend {
    margin-top: 120px;
}

.column-image {
    width: 100%;
}

.p4 {
    padding-left: 0;
}

.img-hover:hover {
    opacity: 0.8;
}

p.title-p {
    color: #ff3333;
    font-weight: 700;
    font-size: 17px;
    margin-top: 10px;
}

.comments-p {
    color: #ff9c31 !important;
    font-weight: 700 !important;
    font-size: 20px;
}

.border-textbox {
    border-radius: 25px !Important;
    text-align: left !important;
    border: 1px solid #c9c9c9 !important;

}

.username-name {
    color: #eb3f79 !important;
    font-weight: 700 !important;
    font-size: 18px !important;

}

.reply-a {
    color: #0071bc !important;
    font-size: 16px !important;
}

.profile-img {
    height: 80px !important;
}

.cancelpadding {
    padding-top: 0 !important;
}

.comment-input {
    height: 10px !important;
    margin-top: 17px !important;
}

.comment2 {
    font-size: 17px !important;
}

.t30 {
    margin-top: 30px !important;
}

.like-icon i.like2:before {
    text-decoration: none !important;
    color: #999999 !important;

}

.like-icon a:hover i.like2:before {
    text-decoration: none !important;
    color: #ff3333 !important;

}

a.like-icon:hover i.like2:before {
    text-decoration: none !important;
    color: #ff3333 !important;

}

a.like-icon:active i.like2:before {
    text-decoration: none !important;
    color: #ff3333 !important;

}

a:active {
    text-decoration: none !important;
}

a:visited {
    text-decoration: none !important;
}

.reply-text {
    text-decoration: none !important;
}

i.flaticon-like.like2:before {
    text-decoration: none !important;
}

.reply-a:visited {
    text-decoration: none !important;
}

.reply-a:active {
    text-decoration: none !important;
}

.reply-a:link {
    text-decoration: none !important;
}

.like-icon:hover i.flaticon-like:before {
    text-decoration: none !important;
    color: #ff3333 !important;

}

.like-icon {
    color: #b3b3b3 !important;

}

.like-icon:hover {
    color: #ff3333 !important;

}

.footer-red {
    background-color: #ff3333;
    margin-top: 50px;

}

p.footer-p {
    color: white;
    text-align: center;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-bottom: 0;
}

.flaticon-copyright-1:before {
    font-size: 13px;
}

@media all and (max-width: 991px) {
    .mt5 {
        margin-top: 50px !important;
        padding-right: 0;
    }

    p.title-p {
        margin-top: 5px;
    }
}

@media all and (max-width: 700px) {
    p.footer-p {
        padding-left: 1%;
        text-align: left;
    }

    .profile-img {
        height: 65px !important;
    }

    .username-name {
        font-size: 14px !important;
    }

    .comment2 {
        font-size: 14px !important;
    }

    a.reply-text.reply-a {
        font-size: 14px !important;
    }

    i.flaticon-like.like2:before {
        font-size: 16px !important;
    }

    .comment2 {
        margin-bottom: 0 !important;
    }

    .user-comment {
        min-height: 30px !important;
    }

    .test {
        width: 94%;
    }

    .content {
        padding-top: 7%;
    }

    .left-contributor-div {
        margin-top: 20px;
    }

    .right-share-div {
        margin-top: 20px;
    }

    .cd-user-modal {
        width: 98% !important;

    }

}

@media all and (max-width: 346px) {
    [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
        margin-left: 5px;
    }

    p.footer-p {
        padding-left: 6%;
    }
}

@media all and (max-width: 312px) {
    .div-overwrite {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .content {
        width: 100.5%;
    }
}

@media all and (max-width: 309px) {
    .content {
        width: 101%;
    }

}

@media all and (max-width: 308px) {
    .content {
        width: 101.5%;
    }

}

@media all and (max-width: 306px) {
    .content {
        width: 102%;
    }

}

@media all and (max-width: 305px) {
    .content {
        width: 102.5%;
    }

}

@media all and (max-width: 303px) {
    .content {
        width: 103%;
    }

}

@media all and (max-width: 302px) {
    .content {
        width: 103.5%;
    }

}

@media all and (max-width: 300px) {
    .content {
        width: 104%;
    }

}
















/* Media Print*/
@media print {
    .right-top-article {
        display: none !important;
    }

    .right-share-div {
        display: none !important;
    }
}

/*Index*/
.cover-gap {
    padding-top: 3% !important;
}

.border-2 {
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
}

.mt5 {
    margin-top: 20px;
    height: 200px;
}

.bg-pic-overwrite {
    margin: 0 !important;
}

.container-cover {
    width: 100%;
    overflow: hidden;
    height: 500px;

    background-size: cover;
    background-position: center;

}

.container-cover-img1 {
    background-image: url(../images/cover-balik-kampung.jpg);
}

.container-cover-img2 {

    background-image: url(../images/who-are-us.jpg);

}

/*.container-cover{
 background: -webkit-linear-gradient(rgba(255, 255, 255, 0), black);
    background: -o-linear-gradient(rgba(255, 255, 255, 0), black);
    background: -moz-linear-gradient(rgba(255, 255, 255, 0), black);
    background: linear-gradient(rgba(255, 255, 255, 0), black);
	opacity:0.4;
	}*/
img.cover-image {
    min-height: 400px;
    min-width: 100%;
}

.yellow-title {
    color: #fff7c0;
    font-weight: 700;
    padding-top: 130px;
}

.overlay-paragraph {

    font-size: 25px;
    width: 50%;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.86));
    background: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.86));
    background: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.86));
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.86));
    overflow: hidden;

    margin-top: 250px;
    padding-left: 2%;
    font-size: 25px;
    width: 100%;
    min-height: 250px;
    padding-right: 2%;
    text-overflow: ellipsis;
}

.white-title {
    color: white;
    font-weight: 700;
    font-size: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
}

.tab-content {
    background-color: white;
}

.article-card-overwrite {
    border: 1.5px solid #d8d8d8 !important;
}

.img-box {
    height: 400px !important;

    background-size: cover;
    background-position: center;
}

.big-img-box {
    height: 300px !important;

    background-size: cover;
    background-position: center;
}

.pic1 {
    background-image: url(../images/balik-kampung-1.jpg);
}

.pic2 {
    background-image: url(../images/who-are-us.jpg);
}

.pic3 {
    background-image: url(../images/now-later-01.jpg);
}

.pic4 {
    background-image: url(../images/kohtao1.jpg);
}

.pic5 {
    background-image: url(../images/big-1.jpg);
}
.pic008 {
    background-image: url(../images/008-4.jpg);
}
.box2 {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;

}

.a-category {
    font-size: 15px !important;
    font-weight: 700;

}

.wrap-a {
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    float: left;
}

.ads-img1 {
    background-image: url(../images/fb-ads.jpg);
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.box3 {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.a2a_svg{
	margin-top:10px !important;}
@media all and (max-width: 1600px) {
    .user-div {

        margin-top: 20px;
    }


}

@media all and (max-width: 1214px) {
    .container-cover {
        height: 350px;
    }

    .overlay-paragraph {
        margin-top: 180px;
        font-size: 23px;
    }

    .white-title {
        font-size: 37px;
    }

    .yellow-title {
        padding-top: 70px;
    }
}

@media all and (max-width: 1198px) {
    .img-box {
        height: 250px !important;
    }

}
@media all and (max-width: 1172px) {
    .cover-gap {
        padding-top: 4.4% !important;
    }
}

@media all and (max-width: 1124px) {

    .cover-gap {
        padding-top: 4% !important;
    }
}

@media all and (max-width: 1056px) {
    .cover-gap {

        padding-top: 3.5% !important;
    }
}

@media all and (max-width: 1048px) {
    .container-cover {
        height: 300px;
    }

    .overlay-paragraph {
        margin-top: 130px;
        font-size: 21px;
    }

    .white-title {
        font-size: 34px;
    }
}
@media all and (max-width: 938px) {
    .img-box {
        height: 200px !important;
    }

    .a-category {
        font-size: 14px !important;
    }

    .article-title {
        font-size: 16px !important;
    }
}
@media all and (max-width: 900px) {
    .container-cover {
        height: 250px;
    }

    .overlay-paragraph {
        margin-top: 100px;
    }

    .white-title {
        font-size: 30px;
    }
}
@media all and (max-width: 868px) {
    .cover-gap {
        padding-top: 8.2% !important;
    }
    .user-div {
        margin-top: 14px;
    }
    .home-overwrite2{
        margin-top: -10px;
    }

    .cover-gap {
        padding-top: 3.5% !important;
    }

}


@media all and (max-width: 783px) {
    .cover-gap {
        padding-top: 0 !important;
    }


    .live-main {
        width: 8% !important;
    }

}

@media all and (max-width: 590px) {

    .container-cover {
        height: 200px;
    }

    .overlay-paragraph {
        margin-top: 55px;
        font-size: 18px;
    }

    .white-title {
        font-size: 24px;
    }

    .big-img-box {
        height: 250px !important;
    }

    .ads-img1 {
        height: 300px;
    }
}

@media all and (max-width: 554px) {

    .img-box {
        height: 150px !important;
    }

    .a-category {
        font-size: 13px !important;
    }

    .article-title {
        font-size: 15px !important;
    }
}

@media all and (max-width: 494px) {
    .tab-padding {
        padding: 2px !important;
    }
}

@media all and (max-width: 434px) {
    .ads-img1 {
        width: 220px;
    }

    .big-img-box {
        height: 200px !important;
    }

}

@media all and (max-width: 426px) {
    .img-box {
        height: 120px !important;
    }

    .article-title {
        font-size: 14px !important;
    }
}

@media all and (max-width: 370px) {
    .container-cover {
        height: 130px;
    }

    .yellow-title {
        padding-top: 60px;
        margin-bottom: 0;
    }

    .overlay-paragraph {
        padding-top: 0;
        font-size: 14px;
        min-height: 80px;
        margin-top: 20px;
    }

    .white-title {
        font-size: 21px;
    }

    .tab-padding {
        font-size: 16px !important;
    }

}

@media all and (max-width: 340px) {
    .big-img-box {
        height: 120px !important;
    }

    .ads-img1 {

        height: 170px;
    }
}

/*live version*/
.live-user-div {
    display: none !important;
}

.live-main {
    width: 25% !important;
}

.live-small {
    display: none !important;

}

.live-hide {
    display: none !important;
}


@media print {
    .print-area {
        display: block;
    }

    .print-hide {
        display: none;
    }

    .content {
        border: 0px !important;
    }
}

/*End of live version*/
a.table-a1 {
    color: white;
}


    a.menua {
        font-size: 18px;
    }



@media all and (max-width: 1735px) {
    a.menua {
        font-size: 17px;
    }

}

@media all and (max-width: 1645px) {
    a.menua {
        font-size: 16px;
    }

}

@media all and (max-width: 1460px) {
    a.menua {
        font-size: 15px;
    }

}

@media all and (max-width: 1460px) {
    a.menua {
        font-size: 14px;
    }

}

@media all and (max-width: 1370px) {
    a.menua {
        font-size: 13px;
    }

}


@media all and (max-width: 783px) {
    .fixed-white {
        width: 100% !important;
        margin-left: 0 !important;

    }

}

.invisible {
    display: none;
}

.home-a-div {
    margin-top: -7px;
    float: right;
    margin-left: 10px;
}

a.home-icon {
    font-size: 35px;
    color: #bf1616;
}

a.home-icon:hover {
    color: #9e0a0a;
}

@media all and (max-width: 946px) {
    .home-a-div {
        margin-top: -10px;
    }

    a.home-icon {
        font-size: 30px;
    }

}

.home-a-div2 {
    float: left;
    display: none;
}

@media all and (max-width: 783px) {
    a.home-icon {
        font-size: 35px;
    }

    .home-a-div {
        display: none;
    }

    .home-a-div2 {
        float: left;
        display: block;
        margin-top: 5px;
        margin-right: 20px;

    }

    .logo-div {
        width: 119px;
    }

    .whitemenu {
        min-height: 50px;
    }

    .user-div {
        display: none;
    }

    a.reg3-a {
        display: block;
    }
}

@media all and (max-width: 700px) {
    a.home-icon {
        font-size: 30px;
    }

}

@media all and (max-width: 530px) {
    #main {
        padding-top: 5px;
    }

    .home-a-div2 {
        margin-top: 3px;
    }

}

.article-div {
    padding-top: 12%;
}

@media all and (max-width: 868px) {
    .ham-span {
        font-size: 25px !important;
    }

    #main {
        padding-top: 2%;
    }

    a.home-icon {

    }

    .home-a-div {
        margin-top: -15px;
    }
}

@media all and (max-width: 530px) {

    .ham-span {
        font-size: 23px !important;
    }
}

@media all and (max-width: 466px) {

    .logo-div {

        margin-right: 18%;
    }

}

.user-a2 {
    display: none !important;
}

.hr2 {
    display: none !important;
}

@media all and (max-width: 570px) {
    .user-a2 {
        display: block !important;
        font-size: 14px !important;

    }

    .hr2 {
        display: block !important;
    }

    .sidenav a {
        font-size: 14px !important;
    }

    a.sidebar-small-a {
        font-size: 13px !important
    }

    .bullet-span {
        font-size: 18px !important;
    }

    .sidenav .closebtn {
        top: initial !important;
    }

}

@media all and (max-width: 472px) {
    .article-div {
        padding-top: 15%;
    }

}

@media all and (max-width: 1242px) {
    .ads-img1 {
        height: 330px;
    }

}

@media all and (max-width: 1072px) {
    .ads-img1 {
        height: 300px;
    }

}

.ads-div {
    width: 97%;
    margin: 0 auto;
}

img.fb-ads-img {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media all and (max-width: 1720px) {
    .sidenav .closebtn {
        margin-right: 15px;
    }

}

@media all and (max-width: 1566px) {
    .sidenav .closebtn {
        margin-right: 0;
    }

    .sidenav .closebtn {
        top: 5px !important;
    }
}

@media all and (max-width: 1466px) {
    .sidenav .closebtn {
        margin-right: 15px;
    }

}

@media all and (max-width: 1385px) {
    .sidenav .closebtn {
        margin-right: 0;
    }

}

@media all and (max-width: 1286px) {
    .sidenav .closebtn {
        margin-right: 15px;
    }

    .sidenav .closebtn {
        top: 0 !important;
    }
}

@media all and (max-width: 1093px) {
    .sidenav .closebtn {
        margin-right: 0;
        right: 0 !important;
    }

}

@media all and (max-width: 983px) {
    .sidenav .closebtn {
        margin-right: 15px;
    }

}

@media all and (max-width: 900px) {
    .sidenav .closebtn {
        margin-right: 30px;
    }

}

@media all and (max-width: 838px) {
    .sidenav .closebtn {
        margin-right: 45px;
    }

}

@media (max-width: 570px) {
    .sidenav .closebtn {
        top: 60px !important;
    }
}

/*LINKS*/

#mainContent a:link, #mainContent a:visited {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    background: #000000;
    padding: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px
}

#mainContent a:hover, #mainContent a:active {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    background: #333333;
    padding: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px
}

/*STYLES FOR CSS POPUP*/

#blanket {
    background-color: #111;
    opacity: 0.65;
    *background: none;
    position: absolute;
    z-index: 9001;
    top: 0 !important;
    left: 0px;
    width: 100%;
}

#popUpDiv {
    position: fixed;

    width: 55%;
    height: auto;
    border: 5px solid #000;
    z-index: 99999;
    top: 100px !important;
    left: 22.5% !important;
}

.bath {
    width: 100%;
}

.close-popout {
    position: absolute;
    right: 20px;
    top: 12px;
}

#popUpDiv i.flaticon-close:before {
    text-decoration: none;
    color: white !important;

}

#popUpDiv a:hover i.flaticon-close:before {
    text-decoration: none;
    color: black !important;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;

}

.follow-insta-div {
    position: absolute;
    bottom: 80px;

    width: 100%;
    padding: 5px;
    text-align: center;
    margin: 0 auto;

}

.insta-color-div {
    color: white;

    border-radius: 25px;
    padding: 5px;
    background-color: #ff006f;
    width: 400px;
    margin: 0 auto;
}

.fb-color-div {
    color: white;

    border-radius: 25px;
    padding: 5px;
    background-color: #044a86;
    width: 400px;
    margin: 0 auto;
}

.fb-follow {
    color: white;

    font-size: 34px;
}

.insta-follow {
    color: white;

    font-size: 34px;
}

.follow-fb-div {
    position: absolute;
    bottom: 10px;

    width: 100%;
    padding: 5px;
    text-align: center;
    margin: 0 auto;

}

a:focus{
	text-decoration:none;}

@media all and (max-width: 1500px) {

    .fb-follow {
        font-size: 21px;
    }

    .insta-follow {
        font-size: 21px;
    }

    .follow-insta-div {

        bottom: 60px;
    }
}

/*
@media all and (max-width: 1300px) {
div#popUpDiv {
    margin-left: -13% !important;
}}*/
@media all and (max-width: 980px) {
    .fb-follow {
        font-size: 16px;
    }

    .insta-follow {
        font-size: 16px;
    }

    .follow-insta-div {

        bottom: 50px;
    }

    .insta-color-div {

        width: 150px;

    }

    .fb-color-div {

        width: 150px;
    }
}

@media all and (max-width: 783px) {
    #popUpDiv {
        width: 90%;
        left: 5% !important;
    }

    .close-popout {

        right: 8px;
        top: 3px;
    }

    .fb-follow {
        font-size: 19px;
    }

    .insta-follow {
        font-size: 19px;
    }

    .follow-insta-div {

        bottom: 60px;
    }

    .insta-color-div {

        width: 180px;

    }

    .fb-color-div {

        width: 180px;
    }
}

@media (max-width: 434px) {

    .fb-follow {
        font-size: 14px;
    }

    .insta-follow {
        font-size: 14px;
    }

    .insta-color-div {

        width: 120px;
        padding: 3px;

    }

    .fb-color-div {

        width: 120px;
        padding: 3px;
    }

    .follow-fb-div {
        bottom: 2px;
    }

    .follow-insta-div {
        bottom: 33px;
    }

}

.pop-big-overwrite {
    border: 0 !important;
}

.close-popout2 {
    top: 35px !important;
}

@media (max-width: 1380px) {
    .coffe-ads {
        width: 100%;
        height: 450px;
    }
}

@media (max-width: 1300px) {
    .coffe-ads {
        width: 100%;
        height: 400px;
    }
}

@media (max-width: 783px) {
    .coffe-ads {
        width: 100%;
        height: 420px;
    }
}

@media (max-width: 700px) {
    .coffe-ads {
        width: 100%;
        height: 400px;
    }
}

@media (max-width: 500px) {
    .coffe-ads {
        width: 100%;
        height: 340px;
    }
}

@media (max-width: 450px) {
    .coffe-ads {
        width: 100%;
        height: 300px;
    }
}

.live-hide {
    display: none;
}

@media (max-width: 724px) {
    #main {
        padding-top: 15px;
    }
}

@media (max-width: 1846px) {
    .input-mode{
        margin-right: -40%;
    }

}
@media (max-width: 1772px) {
    .input-mode {
        margin-right: -35%;
    }

}
@media (max-width: 1722px) {
    .input-mode {
        margin-right: -30%;
    }

}
@media (max-width: 1668px) {
    .input-mode {
        margin-right: -25%;
    }

}
@media (max-width: 1612px) {
    .input-mode {
        margin-right: -20%;
    }

}
@media (max-width: 1556px) {
    .input-mode {
        margin-right: -60%;
    }

}
@media (max-width: 1458px) {
    .input-mode {
        margin-right: -50%;
    }

}


@media all and (max-width: 1432px) {
    .exceed {
        width: 100.15% !Important;
    }
}
@media (max-width: 1398px) {
    .input-mode {
        margin-right: -40%;
    }

}
@media (max-width: 1330px) {
    .input-mode {
        margin-right: -30%;
    }

}
@media (max-width: 1252px) {
    .input-mode {
        margin-right: -20%;
    }

}
@media (max-width: 1214px) {
    .input-mode {
        margin-right: -50%;
    }

}
@media (max-width: 1162px) {
    .input-mode {
        margin-right: -40%;
    }

}
@media (max-width: 1052px) {
    .input-mode {
        margin-right: -30%;
    }

}
@media (max-width: 986px) {
    .toggle-on {
        font-size: 15px;
    margin-top: -3px;
    margin-left: 0 !Important;}
    .toggle-off {
        font-size: 15px;

        margin-top: -4px;}
    .m2a{
        margin-left: -10px;
    }
    .toggle.btn {
        width: 100px !important;
        height: 30px !important;}
    .input-mode {
        margin-top: -58px;
        margin-right: -23%;
    }
}
@media (max-width: 940px) {
    .input-mode {
        margin-top: -141px;
        float: left;}
    .blogger-title{
        margin-bottom: 0;
        margin-top: 10px;

    }
}
@media (max-width: 876px) {
    .input-mode {
        margin-top: -137px;}
    .blogger-title{
        margin-bottom: 10px;
        margin-top: 0;


    }
}
@media (max-width: 528px) {
    .input-mode {
        margin-top: -105px;
    }

}
@media (max-width: 448px) {
    .toggle-on {
        font-size: 12px;
    margin-top:-6px;}
    .toggle-off {
        font-size: 12px;
        margin-top: -7px;}
    .toggle.btn {
        width: 70px !important;
        height:25px !important;
    min-height: 25px !important;}
    .plus2{
        margin-left: -7px;
    }
    .m2a {
        margin-left: -16px;
    }
}
@media (max-width: 1600px) {
    .logged-home {

        margin-top: 12px;}


}
@media (max-width: 1590px) {
    .logged-in-div {
        margin-right: 10px;
    }
}

@media (max-width: 1214px) {
    .profile-pic-div {
        height: 30px;
        width: 30px;
        margin-top: -8px;
    }

    img.profile-pic-small {
        object-fit: cover;
        width: 30px;

    }

    .logged-in-div {

        margin-top: 30px;
    }

    i.flaticon-sort-down {
        right: 22%;
    }
}

@media (max-width: 967px) {
    .logged-in-div {
        width: 15%;
    }
}

@media (max-width: 946px) {
    .profile-pic-div {
        height: 20px !important;
        width: 20px !important;
        margin-top: 1px !important;
    }

    img.profile-pic-small {
        width: 20px !important;
        margin-top: -4px;
    }

    .logged-in-div {
        width: 14%;
        margin-right: 5px;
        margin-top: 30px;
    }
}

@media (max-width: 868px) {
    .logged-home {
        margin-top: 12px;
    }

}

@media (max-width: 783px) {
    .user-a2 {
        display: block !important;
    }

    .hr2 {
        display: block !important;
    }
}



@media all and (max-width: 868px) {
    .logged-home {
        margin-top: 12px;
    }
}
@media all and (max-width: 1682px) {
    .pbottom {
        margin-bottom: 42%;
    }

}

@media all and (max-width: 1578px) {
    .column-image-div {
        height: 220px;
    }
}

@media all and (max-width: 1536px) {
    #popUpDiv i.flaticon-close:before {
        font-size: 35px !important;
    }

}


@media all and (max-width: 1506px) {
    img.bookmark-top {
        margin-left: 58%;

    }

}

@media all and (max-width: 1400px) {
    .landscape-imgbox {
        height: 430px !important;
    }

}
@media all and (max-width: 1322px) {
    .pbottom {
        margin-bottom: 48%;
    }

}

@media all and (max-width: 1240px) {
    .bk1 {
        margin-left: 82%;
        width: 50px;
    }

    .landscape-imgbox {
        height: 360px !important;
    }

    .bk2 {
        margin-left: 91% !important;
    }
}
@media all and (max-width: 1236px) {
    .comment-input-overwrite {
        width: 100% !important;
    }

    .comment-input2 {
        width: 90%;
    }

    .other-reply-div {
        width: 90%;
    }
}

@media all and (max-width: 1176px) {
    #popUpDiv i.flaticon-close:before {
        font-size: 25px !important;
    }

}
@media all and (max-width: 1134px) {
    .size-fix {
        font-size: 25px !important;
    }

    .change-picture {
        font-size: 14px !important;
    }

    .fix-size2 {
        font-size: 15px !important;
    }

    .user-fix {
        font-size: 15px !important;
    }

    .inputw {
        width: 60% !important;
        float: right !important;
    }

    .save {
        font-size: 16px !important;
    }
}

@media all and (max-width: 1480px) {
    .tester {
        width: 80%;
    }

    .size-fix {
        font-size: 32px;
    }

}

@media all and (max-width: 1214px) {
    .user-name{
        margin-top: 0;
    }

}
@media all and (max-width: 1128px) {
    .logged-in-div {

        margin-top: 30px;
    }
    .logged-home {
        margin-top: 13px;
    }
}

@media all and (max-width: 1018px) {
    .landscape-imgbox {
        height: 300px !important;
    }
}
@media all and (max-width: 1005px) {
    .comment-input2 {
        width: 88%;
    }

    .other-reply-div {
        width: 88%;
    }

}

@media all and (max-width: 991px) {
    .mt5 {
        height: auto;
    }

    .column-image-div {
        height: 350px;
    }

    p.title-p {
        font-size: 22px;
    }

    .article-div {
        padding-top: 10%;
    }


    .pbottom {
        margin-bottom: 0;
    }

}

@media all and (max-width: 946px) {
    .logged-home {

        margin-top: 18px;
    }
}
@media all and (max-width: 900px) {
    .home-a-div2 {

        margin-top: 5px;

    }
}

@media all and (max-width: 899px) {
    .pick-left {
        width: 30%
    }

    .pick-right {
        width: 30%
    }
}
@media all and (max-width: 868px) {
    .column-image-div {
        height: 170px;
    }
.logged-in-div {
    margin-top: 25px;
}

}


@media all and (max-width: 860px) {
    .bk1 {
        margin-left: 80%;
        width: 40px;
    }


    .bk2 {
        margin-left: 90% !important;
    }
}


@media all and (max-width: 836px) {
    img.bookmark-top {
        margin-left: 56%;
        width: 40px;
    }

}



@media all and (max-width: 783px) {
    img.bookmark-top {
        margin-left: 77%;

    }

    .actions{
        top: 55px !Important;
    }

}

@media all and (max-width: 700px) {
    img.bookmark-top {
        margin-left: 85%;

    }

    .home-a-div2 {
        margin-top: 10px;
    }

    .left-top-article {
        margin-top: 10px;
    }
}

@media all and (max-width: 570px) {
    a.user-a2.write-a {
        margin-top: 75px;
    }

}
@media all and (max-width: 569px) {
    .comment-input2 {
        width: 86%;
    }

    .other-reply-div {
        width: 86%;
    }

}

@media all and (max-width: 555px) {
    .pick-left {
        width: 35%
    }

    .pick-right {
        width: 35%
    }
}


@media all and (max-width: 498px) {
    .comment-input2 {
        width: 84%;
    }

    .other-reply-div {
        width: 84%;
    }


    .landscape-imgbox {
        height: 320px !important;
    }
}


@media all and (max-width: 471px) {
    .pull-right {
        float: left !important;
        width: 100%;
    }
    a.pencil-a{
        float: right;
        right:0 !Important;
    }
    .draft{
        float: left;
    }
    .save{
        margin-top: 0px !Important;
        margin-left: 10px;

    }

.save-2{
    margin-left: 0 !Important;
    margin-top: 10px !Important;
}

    .pick-left {
        width: 100%;
    }

    .pick-right {
        width: 100%
    }

    .save {
        float: left !important;
        margin-top: 20px;
    }
}

@media all and (max-width: 456px) {
    .flaticon-blank-squared-bubble:before {
        margin-left: 6px;
    }

    .flaticon-share-1:before {
        margin-left: 6px;
    }

    .flaticon-like:before {

        margin-left: 0;
    }
}


@media all and (max-width: 455px) {
    .inputw {
        width: 100% !important;
    }
}
@media all and (max-width: 450px) {
    .bk1 {
        margin-left: 78%;
        width: 30px;
    }
}
@media all and (max-width: 446px) {
    .comment-input2 {
        width: 82%;
    }

    .other-reply-div {
        width: 82%;
    }

}
@media all and (max-width: 444px) {
    img.bookmark-top {
        margin-top: 0;
        width: 30px;
        margin-left: 82%;

    }

}
@media all and (max-width: 406px) {
    .comment-input2 {
        width: 80%;
    }

    .other-reply-div {
        width: 80%;
    }

}



@media all and (max-width: 386px) {

    .landscape-imgbox {
        height: 260px !important;
    }
}
@media all and (max-width: 373px) {
    .comment-input2 {
        width: 78%;
    }

    .other-reply-div {
        width: 78%;
    }

}

@media all and (max-width: 370px) {
    img.bookmark-top {
        margin-top: -10px;
    }
}

@media all and (max-width: 356px) {
    .right-share-div {
        width: 50%;

    }

    .left-contributor-div {
        width: 46%;
    }
}

@media all and (max-width: 346px) {
    .comment-input2 {
        width: 76%;
    }

    .other-reply-div {
        width: 76%;
    }
    a.bookmark-a {
        margin-top: -82%;
        margin-left: 10px;
    }

    .bookmark-img {
        width: 20px;
    }
}

@media all and (max-width: 328px) {
    .flaticon-like:before {
        font-size: 14px;
    }

    .flaticon-blank-squared-bubble:before {

        font-size: 14px !important;
    }

    .flaticon-share-1:before {
        font-size: 13px;
    }
}
@media all and (max-width: 325px) {
    .comment-input2 {
        width: 74%;
    }

    .other-reply-div {
        width: 74%;
    }

}








@media all and (max-width: 1069px) {
    .exceed {
        width: 100.3% !Important;
    }

}
@media all and (max-width: 504px) {
    .exceed {
        width: 100.4% !Important;
    }

}
@media all and (max-width: 1699px) {
    .bg-picture, .output {
        min-height: 550px !Important;}

    .coverphoto-photo-container>img{
        width:auto !Important;
        height:100% !Important;
    }
}
@media all and (max-width: 1556px) {
    .green-write{
        margin-left: 55%;
    }
    p.blogger-title{
        width:450px;
    }
    p.profile-user{
        width:450px;
    }
}
@media all and (max-width: 1436px) {
    .img-box {
        height: 320px !important;

	}

}
@media all and (max-width: 1386px) {
    .wrap-a {
        width: 85%;
    }
    .edit-div {

        width: 15%;
    }
}
@media all and (max-width: 1370px) {
    .container-cover {
        height: 400px;}

    .grey-overlay{
        height:200px;
        margin-top: 200px;
    }
    .profile-pic2{
        padding-top: 210px;
    }
    .profile-name {
        padding-top: 280px;
    }
    .green-write {

        margin-top: 330px;
        margin-left: 54%;
    }
    .coverphoto-photo-container>img {

        height: 73% !Important;
    }
    .yellow-title {
        padding-top: 50px;
    }
}
@media all and (max-width: 1270px) {
        .img-box {
            height: 250px !important;


        }
@media all and (max-width: 1214px) {
    p.blogger-title {
        width: 350px;
    }
    p.profile-user {
        width: 350px;
    }
    .yellow-title {
        padding-top: 120px;
    }
}
@media all and (max-width: 1114px) {
    .container-cover {
        height: 350px;
    }
    .grey-overlay {

        margin-top: 150px;
    }
    .profile-pic2 {
        padding-top: 210px;
        padding-left: 25px;
        width: 120px;
        height: 120px;}
    .profile-image {

        width: 120px;
        height: 120px;
    }
    .profile-name {
        padding-top: 245px;
        padding-left: 165px;
    }
    .green-write {
        margin-top: 280px;
        margin-left: 52%;
    }
    .coverphoto-photo-container>img {

        height: 63% !Important;
    }
    .yellow-title {
        padding-top: 80px;
    }
}
@media all and (max-width: 1048px) {
    .yellow-title {
        padding-top: 130px;
    }
}
@media all and (max-width: 1016px) {
    p.blogger-title {
        width: 280px;
    }
}

@media all and (max-width: 1000px) {
.valentine-img {
    padding-left: 15%;
    padding-right: 15%;
}
}
@media all and (max-width: 876px) {
    .container-cover {
        height: 280px;
    }
    .grey-overlay {
        height: 120px;
        margin-top: 160px;
    }
    .profile-pic2 {
        padding-top: 140px;
    }
    .profile-name {
        padding-top: 193px;
    }
    p.blogger-title{
        width:250px;
        font-size: 18px;
    }
    p.profile-user {
        font-size: 28px;
        width: 250px;
    }
    .green-write {
        margin-top: 220px;}
    a.write-p{
        font-size: 18px;
    }
    .pencil1:before{
        font-size: 17px !Important;
    }
    .coverphoto-photo-container>img {

        height: 50% !Important;
    }
}
@media all and (max-width: 942px) {
        .img-box {
            height: 180px !important;
        }
}
@media all and (max-width: 900px) {
    .yellow-title {
        padding-top: 160px;
    }
}


@media all and (max-width: 876px) {
        .yellow-title {
            padding-top: 100px;
        }
}
@media all and (max-width: 852px) {
    .wrap-a {
        width: 80%;
    }
    .edit-div {
        width: 20%;
    }
}
@media all and (max-width: 783px) {
    .grey-overlay {
        width:84.9%;
    }
    .green-write {
        margin-left: 70%;
    }
    .chooser{
        display: block !Important;
    }
    .coverphoto-photo-container>img {

        height: auto !Important;
        width:100% !important;
        min-height: 275px !important;
    }
}
@media all and (max-width: 700px) {
    .grey-overlay {
        width: 93.9%;
    }
    .green-write {
        margin-left: 79%;
    }
}
@media all and (max-width: 590px) {
    .yellow-title {
        padding-top: 150px;
    }
}
@media all and (max-width: 528px) {
    .green-write {
        margin-left: 75%;
        padding: 1% 0.7% 1% 2%;
    }
    p.blogger-title {
        width: 180px;
        font-size: 15px;
        margin-bottom: 0;
    }
    p.profile-user {
        font-size: 20px;
        width: 180px;
    }
    .profile-name {
        padding-top: 216px;
        padding-left: 135px;
    }
    a.write-p {
        font-size: 14px;
    }
    .pencil1:before {
        font-size: 13px !Important;
    }
    .profile-image {
        width: 90px;
        height: 90px;
    }
    .profile-pic2 {
        padding-top: 170px;
    }
}
@media all and (max-width: 486px) {
    .img-box {
        height: 130px !important;
    }
    .edit-pencil:before{
    font-size: 15px;}
   
    }
@media all and (max-width: 448px) {
    .container-cover {
        height: 220px;
    }
    .grey-overlay {
        height: 80px;
        margin-top: 140px;
    }
    .profile-pic2 {
        padding-top: 120px;
        padding-left: 10px;
    }
    .profile-name {
        padding-top: 173px;
        padding-left: 110px;
    }
    .green-write {
        margin-top: 160px;
    }
    p.blogger-title {
        width: 120px;
        font-size: 12px;

    }
    p.profile-user {
        font-size: 17px;
        width: 120px;
    }
    .coverphoto-photo-container>img {

        min-height: 210px !important;
    }
    .yellow-title {
        padding-top: 90px;
    }
    .edit-pencil:before{
        font-size: 12px;}
}

@media all and (max-width: 390px) {
    .img-box {
        height: 100px !important;
    }
    .wrap-a {
        width: 75%;
    }
    .edit-div {
        width: 25%;
    }
	.article-card {
    min-height: 140px;
}
    }
@media all and (max-width: 370px) {
    .container-cover {
        height: 160px;
    }
    .profile-pic2 {
        padding-top: 60px;
        padding-left: 10px;
    }
    .grey-overlay {
        height: 80px;
        margin-top: 80px;
    }
    .profile-name {
        padding-top: 115px;}
    .green-write {
        margin-top: 110px;
    }
    }
@media all and (max-width: 346px) {
    .green-write {
    margin-left: 72%;}
    p.blogger-title {
        width: 90px;
    }
    p.profile-user {
        width: 90px;
    }
}

@media all and (max-width: 900px) {
.wallpaper {
    width: 80% !important;
    margin-left: 10% !important;
}
}

/* Sherry start here */
.landing-h1 {
    margin-left: 1.5%;
    font-weight: 700;
    color: #f18c8c;}
.header {
    background-color: #ffaeae;
}
